@model Web_programlama.Models.Ihtiyaclar
@{
    ViewData["Title"] = "Guncelle";
}

<h1>Geçmiş olsun</h1>
<h2>ihtiyacınız olan ürünleri giriniz</h2>

<div class="m-4">
    <div class="bg-success text-white p-4">
        İstekleri Güncelle
    </div>
    <form asp-action="Guncelle" method="post">

        <input type="hidden" name="gizli.i_id" value="@Model.i_id" />
        <input type="hidden" name="gizli.i_adi " value="@Model.i_adi" />
        <input type="hidden" name="gizli.i_miktari " value="@Model.i_miktari" />
        <input type="hidden" name="gizli.istek_adresi" value="@Model.istek_adresi" />
        <input type="hidden" name="gizli.ozel_istek" value="@Model.ozel_istek" />

        <div class="form-group">
            <label asp-for="i_adi"></label>
            <br />
            <input asp-for="i_adi" class="form-control" />
        </div> <br />

        <div class="form-group">
            <label asp-for="i_miktari"></label>
            <br />
            <input asp-for="i_miktari" class="form-control" />
        </div> <br />

        <div class="form-group">
            <label asp-for="istek_adresi"></label>
            <br />
            <input asp-for="istek_adresi" class="form-control" />
        </div><br />

        <div class="form-group">
            <label asp-for="ozel_istek"></label>
            <br />
            <input asp-for="ozel_istek" class="form-control" />
        </div><br />
        <button type="submit" value="Submit" class="btn btn-primary">Güncelle </button>
    </form>
</div>


