@model Web_programlama.Models.Kullanici
@{
    ViewData["Title"] = "Guncelle";
}

<h1>Güncelleme İşlemleri</h1>

<div class="m-4">
<div class="bg-success text-white p-4">
    Kullanıcı Güncelleme
</div>
<form asp-action="Guncelle" method="post">

    <input type="hidden" name="gizli.ID" value="@Model.k_id" />
    <input type="hidden" name="gizli.TC " value="@Model.k_tc" />
    <input type="hidden" name="gizli.Isim " value="@Model.isim" />
    <input type="hidden" name="gizli.YETKİ" value="@Model.k_yetki_turu" />
    <input type="hidden" name="gizli.SİFRE" value="@Model.sifre" />

    <div class="form-group">
        <label asp-for="k_tc"></label>
            <br />
        <input asp-for="k_tc" class="form-control" />
    </div> <br />

        <div class="form-group">
            <label asp-for="isim"></label>
            <br />
            <input asp-for="isim" class="form-control" />
        </div> <br />

    <div class="form-group">
        <label asp-for="k_yetki_turu"></label>
            <br />
        <input asp-for="k_yetki_turu" class="form-control" />
        </div><br />

    <div class="form-group">
        <label asp-for="sifre"></label>
            <br />
        <input asp-for="sifre" class="form-control" />
    </div>
        <br />
    <button type="submit" value="Submit" class="btn btn-primary">Güncelle </button>
</form>
</div>
