@model Web_programlama.Models.İhtiyac
@{
    ViewData["Title"] = "Guncellen";
}

<div class="m-4">
    <div class="bg-success text-white p-4">
        Admin Güncelleme
    </div>
    <form asp-action="Guncellen" method="post">

        <input type="hidden" name="gizli.ID" value="@Model.i_id" />
        <input type="hidden" name="gizli.ADI " value="@Model.i_adi" />
        <input type="hidden" name="gizli.ADET" value="@Model.i_miktari" />
        <input type="hidden" name="gizli.ADRES " value="@Model.istek_adresi" />
        <input type="hidden" name="gizli.BAŞKA İSTEK" value="@Model.ozel_istek" />


        <div class="form-group">
            <label asp-for="i_adi"></label>
            <br />
            <input asp-for="i_adi" class="form-control" />
        </div> <br />

        <div class="form-group">
            <label asp-for="i_miktari"></label>
            <br />
            <input asp-for="i_miktari" class="form-control" />
        </div><br />

        <div class="form-group">
            <label asp-for="istek_adresi"></label>
            <br />
            <input asp-for="istek_adresi" class="form-control" />
        </div> <br />

        <div class="form-group">
            <label asp-for="ozel_istek"></label>
            <br />
            <input asp-for="ozel_istek" class="form-control" />
        </div><br />

        <button type="submit" value="Submit" class="btn btn-primary">Güncelle </button>
    </form>
</div>

