@model IEnumerable<Web_programlama.Models.İhtiyac >
@{
    ViewData["Title"] = "listn";
}


<div class="m-5">
    <div class="bg-success text-white p-4">
        İhtiyaçlar Listesi
    </div>
    <div class="table-responsive"></div>

    <table class="table tabletable-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adı</th>
                <th>Adet</th>
                <th>Adres</th>
                <th>Özel istek</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.i_id</td>
                    <td>@item.i_adi</td>
                    <td>@item.i_miktari</td>
                    <td>@item.istek_adresi</td>
                    <td>@item.ozel_istek</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <a asp-controller="ihtiyac" asp-action="Guncellen" asp-route-id="@item.i_id" class=" btn btn-primary btn sm">Güncelle</a>
                            <input type="hidden" name="i_id" value="@item.i_id">
                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

